h1 {
    color: brown;
    text-decoration: underline
}
label {
    color: green;
}
.email-label {
    color: red;
}

label.email-label {
    font-weight: bold;
}
.password-label {
    text-transform: uppercase;
}
label input {
    transform: scale(2);
}
